<input type="search" class="form-control" [(ngModel)]='search'>
<table class="table table-bordered table-hover">
    
    <thead class="thead-dark">
        <tr>
<th>Index</th>
<th>Name</th>
<th>Email</th>
<th>Update</th>
<th>Delete</th>

</tr>
    </thead>
<tbody>
<tr *ngFor='let user of firebaseService.users | filter : search ; index as i'>
    <td>{{i+1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email | reduce : 4}}</td>
    <td><button class="btn btn-outline-warning" (click)='updateUser(user)'>Update</button></td>
    <td><button class="btn btn-outline-danger" (click)='deleteUser(user)'>Delete</button></td>
    
</tr>
</tbody>
</table>
