<app-header></app-header>
<!-- <app-sample></app-sample> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-face></app-face> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-directives></app-directives> -->
<!-- <app-if-switch></app-if-switch> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent-portal></app-parent-portal> -->
<!-- <app-master-portal></app-master-portal> -->
<!-- <app-cars></app-cars> -->
<app-par></app-par>
