<!--Creating a navbar for routing pages assign to each route-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <!-- Routing Home page -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>                
            </li>
            <!-- Routing About page -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>          
            </li>
            <!-- Routing Register page -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>    
            </li>
            <!-- Routing User page -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>          
            </li>   
        </ul>
    </div>
</nav>
