<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id = "object" class ="com.ustglobal.usttyspringcore.beans.HelloWorld" autowire="byType">
	<property name="message" value="Hello World!!!!!"/>	
	<property name="count" value="10"/> 
	<!-- <property name="animal" ref="human"/> -->
	<property name="map">
	<map>
	<entry key="abc" value="123"/>
	<entry key = "xyz" value ="798"/>
	</map>
	</property>
  </bean>
  
  <bean id="dog" class="com.ustglobal.usttyspringcore.beans.Dog" init-method="init" destroy-method="destroy"/>
  
  <bean id="factoryPostProcesser" class="com.ustglobal.usttyspringcore.beans.FactoryPostProcesser"/>
  <bean id="postProcesser" class="com.ustglobal.usttyspringcore.beans.PostProcesser"/>
  
  <!-- <bean id = "human" class="com.ustglobal.usttyspringcore.beans.Human"/> -->
  
  <!-- <bean id = "pet" class="com.ustglobal.usttyspringcore.beans.Pet" autowire="constructor">
  <constructor-arg name="name" value="Spike"/>
  <constructor-arg name="animal" ref="dog"/>
  </bean> -->

</beans>