<div class="col-md-4 offset-md-4 card card-body mt-5 ">
    <input type="text" [(ngModel)]="dataFromInput" class='form-control'>
</div>
<h1 class="text-center">{{dataFromInput}}</h1>
<!-- <img src="{{dataFromInput}}" alt=""> -->
<!-- <button class="btn btn-primary" onclick='alert("hello")'>Give Alert</button> -->
<!-- <button class="btn btn-primary" (click)='buttonEvent("Hello from html")'>Give Alert</button> -->
<h1 class="text-center" [style.background]="backgroundColor">Event and Property Binnding</h1>
<button class="btn btn-primary" (click)='changeColor(dataFromInput)'>Give Alert</button>
